body {
    background-image: url("pattern.svg");
    background-color: #cccccc;
   }


.city_text {
    position: relative;
    top: 275px;
  } 


.search_box {
    width: 50px;
  }

.navbar-custom {
  background-color: #ed7652 !important;
}
  
